.section-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

.recipe-icon {
  margin-left: 1rem;
  position: relative;
  top: .5rem;
  color: #f09c00;
}

.homepage-link {
  text-decoration: none;
  color: black;
}

/*Home-Container-Styles*/
.home-title {
  text-align: center;
  font-size: 6rem;
  margin: 4rem 0 4rem 0;
  font-size: 4rem;
}

.home-container {
  height: 100%;
  /*LATEST-FIVE-RECIPES-STYLES*/
  /* RANDOM-ONE-STYLES */
  /* HUNGARIAN-FIVE-STYLES */
  /* FAST-FOOD-STYLES */
}

.home-container .latest-five-recipes-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  margin: 0.5rem;
}

.home-container .latest-five-recipes-container .latest-five-recipe-card {
  position: relative;
  -webkit-box-shadow: 3px 8px 11px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 8px 11px 0px rgba(0, 0, 0, 0.75);
}

.home-container .latest-five-recipes-container .latest-five-recipe-card .homepage-link .latest-recipe-header .latest-recipe-img {
  height: 300px;
  width: 100%;
}

.home-container .latest-five-recipes-container .latest-five-recipe-card .homepage-link .latest-recipe-body {
  padding: 1rem;
}

.home-container .latest-five-recipes-container .latest-five-recipe-card .homepage-link .latest-recipe-body .latest-recipe-title h1 {
  font-size: 1.5rem;
  margin: 0.5rem;
  text-align: center;
}

.home-container .latest-five-recipes-container .latest-five-recipe-card .homepage-link .latest-recipe-body .latest-recipe-content {
  padding: 1rem;
  text-align: center;
}

.home-container .latest-five-recipes-container .latest-five-recipe-card .homepage-link .latest-recipe-body .latest-recipe-content .latest-recipe-content p {
  font-weight: bolder;
}

@media (min-width: 768px) {
  .home-container .latest-five-recipes-container .latest-five-recipe-card:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
  .home-container .latest-five-recipes-container .latest-five-recipe-card:nth-child(2) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
  }
  .home-container .latest-five-recipes-container .latest-five-recipe-card:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .home-container .latest-five-recipes-container .latest-five-recipe-card:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }
  .home-container .latest-five-recipes-container .latest-five-recipe-card:nth-child(5) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
  }
}

@media (min-width: 768px) {
  .home-container .latest-five-recipes-container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: minmax(400px, auto);
        grid-template-rows: minmax(400px, auto);
  }
}

.home-container .random-one-container {
  position: relative;
  top: 3rem;
  width: 100%;
  margin: 0 auto;
}

.home-container .random-one-container .random-one-img {
  height: 530px;
  background-size: 100%;
  width: 100%;
}

@media (min-width: 1000px) {
  .home-container .random-one-container .random-one-img {
    height: 500px;
    width: 60%;
  }
}

.home-container .random-one-container .random-one-body {
  background-color: #974141;
  padding: 2rem;
  border-radius: 16px;
  margin: -2rem 1rem;
  width: 100%;
  color: white;
}

.home-container .random-one-container .random-one-body .random-one-card-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.home-container .random-one-container .random-one-body .random-one-card-title .random-one-card-content {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .home-container .random-one-container .random-one-body {
    width: 80%;
  }
}

.home-container .hungarian-five-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  margin: 7rem 0.5rem;
}

.home-container .hungarian-five-container .hungarian-five-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.home-container .hungarian-five-container .hungarian-five-header .hungarian-five-title p {
  text-align: center;
}

.home-container .hungarian-five-container .hungarian-five-cards {
  -webkit-box-shadow: 3px 8px 11px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 8px 11px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}

.home-container .hungarian-five-container .hungarian-five-cards .hungarian-card-img {
  height: 250px;
}

.home-container .hungarian-five-container .hungarian-five-cards .hungarian-card-body .hungarian-card-title h1 {
  font-size: 1.7rem;
  margin-bottom: 3rem;
  text-align: center;
}

.home-container .hungarian-five-container .hungarian-five-cards .hungarian-card-body .hungarian-card-content {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .home-container .hungarian-five-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.home-container .fast-recipes-container {
  margin: 0.5rem;
}

.home-container .fast-recipes-container .fast-recipes-header .fast-recipes-title {
  text-align: center;
  margin: 5rem;
}

.home-container .fast-recipes-container .fast-recipes-header .fast-recipes-title h1 {
  font-size: 3.5rem;
}

.home-container .fast-recipes-container .fast-recipes-header .fast-recipes-title p {
  font-size: 1.5rem;
}

.home-container .fast-recipes-container .fast-recipes-cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
}

.home-container .fast-recipes-container .fast-recipes-cards .fast-recipes-card {
  position: relative;
  -webkit-box-shadow: 3px 8px 11px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 8px 11px 0px rgba(0, 0, 0, 0.75);
}

.home-container .fast-recipes-container .fast-recipes-cards .homepage-link .fast-recipes-card-img {
  height: 400px;
}

.home-container .fast-recipes-container .fast-recipes-cards .homepage-link .fast-recipes-card-body .fast-recipes-card-title {
  text-align: center;
  width: 100%;
  margin-bottom: 4rem;
}

.home-container .fast-recipes-container .fast-recipes-cards .homepage-link .fast-recipes-card-body .fast-recipes-card-content {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (min-width: 768px) {
  .home-container .fast-recipes-container .fast-recipes-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=HomePage.css.map */