/* HOME-STYLES */

.home {
  min-height: 100vh;
  width: 100%;
}

.home-title {
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  margin: 2rem;

}

/* LATEST-FIVE-STYLES */

.latest-five-recipes-container {
  display: grid;
}

.latest-card {
  padding: 2rem;
  margin: .2rem;
  box-shadow: 10px 10px 20px 0px rgba(59, 59, 59, 0.75);
}

.latest-card-title {
  font-size: 1.4rem;
  margin: 1rem;
  text-align: center;
}

.latest-card-img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-card-img img {
  width: 90%;
  margin: 0 auto;
}

@media(min-width: 768px) {
  .latest-card-img img {
    max-width: 300px;
    max-height: 400px;
    margin: 0 auto;
  }

}




.latest-time-datas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-recipes-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}


@media (min-width: 768px) {
  .latest-five-recipes-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
  }

  .latest-card:nth-child(1) {
    grid-column: 1 / 3;
  }

}

/* RANDROM-RECIPE-STYLES */


.random-recipe-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-recipe-body {
  background-color: rgb(240, 239, 239);
  color: black;
  position: relative;
  top: -1rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 14px;
  padding: 2rem;
}

.section-title {
  text-align: center;
}


@media (min-width: 768px) {
  .random-recipe-body {
    top: -6rem;
    width: 500px;
    padding: 1rem;
    text-align: center;
  }

  .random-recipe-container {
    padding: 0 8rem;
  }

  
}

.random-recipe-img img {
  margin: 0 auto;
  max-width: 500px;
  max-height: 500px;
}


/* HUNGARIAN-STYLES */




.hungarian-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


@media (min-width: 768px) {
  .hungarian-recipes-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

}