.recipe-single-container {
  min-height: 100vh;
  color: black;
  background-color: white;
}

.recipe-single-container .recipe-single-header .recipe-single-image {
  height: 500px;
  width: 100%;
}

@media (min-width: 768px) {
  .recipe-single-container .recipe-single-header .recipe-single-image {
    width: 50%;
    margin: 0 auto;
  }
}

.recipe-single-container .recipe-single-header .recipe-single-userName {
  text-align: center;
  margin: 1.5rem;
}

.recipe-single-container .recipe-single-content {
  min-height: 500px;
  border-radius: 15px;
}

.recipe-single-container .recipe-single-content .recipe-single-body {
  margin-top: -1rem;
  position: relative;
  z-index: 98;
  border-radius: 15px;
  min-height: 500px;
}

.recipe-single-container .recipe-single-content .recipe-single-body h4 {
  margin: 0.6rem;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-time {
  border-radius: 14px;
  margin-top: -1rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background-color: aliceblue;
  border-bottom: 1px solid gray;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-time .times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .recipe-single-container .recipe-single-content .recipe-single-body .recipe-time {
    width: 60%;
    margin: 0 auto;
  }
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-header {
  text-align: center;
  padding: 1rem;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-header .recipe-title {
  margin: 1rem;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-ingredients {
  -webkit-box-shadow: -2px 4px 46px 0px rgba(110, 110, 110, 0.75);
          box-shadow: -2px 4px 46px 0px rgba(110, 110, 110, 0.75);
  text-align: center;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 1rem 0 3rem 0;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-ingredients .recipe-single-ingredient {
  margin: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid #c5c2c2;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-ingredients .recipe-single-ingredient .recipe-single-ingredient-data {
  padding: 0.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-ingredients {
    width: 60%;
    margin: 3rem auto;
  }
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-steps {
  border-radius: 15px;
  padding: 0.5rem;
  margin: 1rem 0 3rem 0;
  margin: 0.5rem;
  background-color: #ff731d;
  color: white;
  text-align: center;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-steps .recipe-single-step .recipe-single-step-content {
  padding: 1rem;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-steps .recipe-single-step .step-index {
  font-size: 1.2rem;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-steps:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

@media (min-width: 768px) {
  .recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-steps .recipe-single-step {
    width: 60%;
    margin: .8rem auto;
  }
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-comment {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.recipe-single-container .recipe-single-content .recipe-single-body .recipe-single-comment h1 {
  margin: 2rem;
}

@media (min-width: 768px) {
  .recipe-single-ingredients,
  .recipe-single-step {
    width: 60%;
    margin: 3rem auto;
  }
}
/*# sourceMappingURL=RecipeSingle.css.map */