
.switch-theme-container {
    background-color: white;
}

.theme-btn {
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

.theme-btn:hover {
    transition: all .4s ease-in-out;
    transform: scale(1.1);
}

.theme-light-btn {
    background-color: white;
}

.theme-dark-btn {
    background-color: hsla(189, 100%, 12%, 1);
    margin: .5rem;
}
