.login-form {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin: 5rem 0 2rem 0;
    font-size: 3rem;
  }

  .login-button {
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 6px;
    background-color: rgb(70, 153, 62);
    margin-top: 1rem;
    cursor: pointer;
    border: none;
  }

  .forgot-password {
    position: relative;
    top: .5rem;
  }

}